.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  flex-direction: column;
}

.intro h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #333;
}

.intro p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #666;
}

.intro ul {
  list-style: none;
  padding: 0;
  color: #666;
  font-size: 1.0rem;
  margin-bottom: 2rem;
}

.intro li {
  font-size: 1em;
  margin: 5px 0;
}