.result {
  padding: 20px;
  margin-top: 10px;
}
/* Table style */
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

td,
th {
  padding-left: 8px;
}
th {
  color: #fff;
}
thead tr {
  height: 60px;
  background: #333;
  font-size: 16px;
}

tbody tr {
  height: 48px;
  border-bottom: 1px solid #fdefe9;
}

tbody tr:last-child {
  border: 0;
}

td,
th {
  text-align: left;
}

td.l {
  text-align: right;
}

td.c,
th.c {
  text-align: center;
}

td.r {
  text-align: center;
}

/* Responsive table style for extra small screens */
@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }

  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }

  thead {
    display: none;
  }

  tbody tr {
    height: auto;
    padding: 8px 0;
  }

  tbody td {
    padding-left: 45%;
    margin-bottom: 12px;
  }

  tbody td:last-child {
    margin-bottom: 0;
  }

  tbody td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }

  tbody td:nth-child(1):before {
    content: "Status";
  }

  tbody td:nth-child(2):before {
    content: "Title";
  }

  tbody td:nth-child(3):before {
    content: "Artist";
  }

  tbody td:nth-child(4):before {
    content: "Year";
  }

  tbody td:nth-child(5):before {
    content: "View Image";
  }
}

tbody a {
  text-align: center;
  display: inline-block;
  padding: 5px 5px;
  background-color: #ff4500;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

tbody a:hover {
  background-color: #e34234;
}