.artwork-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 80%;
}

.artwork-item img {
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.artwork-item img:hover {
  transform: scale(1.05);
}

.artwork-item .artwork-details {
  width: 50%;
  padding: 20px;
}

.artwork-item.left {
  flex-direction: row-reverse;
}

.artwork-item.right {
  flex-direction: row;
}

.artwork-details h3 {
  margin-bottom: 10px;
}

.artwork-details p {
  margin: 5px 0;
}

.artwork-details a {
  color: #3498db;
  text-decoration: none;
}

.artwork-details a:hover {
  text-decoration: underline;
}

/* Add a breakpoint for screens with a width under 700px */
@media screen and (max-width: 700px) {
  .artwork-item {
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
  }

  .artwork-item img {
    width: 100%;
    margin-bottom: 0px;
  }

  .artwork-item .artwork-details {
    width: 100%;
    padding: 0;
  }
  .artwork-item.left {
    flex-direction: column;
  }

  .artwork-item.right {
    flex-direction: column;
  }
}
